{%- extends 'personal/personal.html' -%} {%- block content -%} {% if session.user.role == 'student' %}
<table class="table table-striped profile">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>学号:</td>
            <td>
                14041530
            </td>
            <td>姓名:</td>
            <td>
                赵赫
            </td>
        </tr>
        <tr>
            <td>姓名拼音:</td>
            <td></td>
            <td>英文姓名:</td>
            <td></td>
        </tr>
        <tr>
            <td>曾用名:</td>
            <td></td>
            <td>身份证号:</td>
            <td>211102199702280510</td>
        </tr>
        <tr>
            <td>性别:</td>
            <td>男</td>
            <td>学生类别:</td>
            <td>非师范本科</td>
        </tr>
        <tr>
            <td>特殊学生类型:</td>
            <td></td>
            <td>学籍状态:</td>
            <td></td>
        </tr>
        <tr>
            <td>收费类别:</td>
            <td> 一般</td>
            <td>民族:</td>
            <td>汉族</td>
        </tr>
        <tr>
            <td>籍贯:</td>
            <td>辽宁</td>
            <td>出生日期:</td>
            <td>19970228</td>
        </tr>
        <tr>
            <td>政治面貌:</td>
            <td>共青团员</td>
            <td>考区:</td>
            <td></td>
        </tr>
        <tr>
            <td>毕业中学:</td>
            <td>盘锦市第二完全中学</td>
            <td>高考总分:</td>
            <td>0.0</td>
        </tr>
        <tr>
            <td>录取号:</td>
            <td></td>
            <td>高考考生号:</td>
            <td>14211102151678</td>
        </tr>
        <tr>
            <td>入学考试语种: </td>
            <td></td>
            <td>通讯地址:</td>
            <td>盘锦市第二完全中学高三一班</td>
        </tr>
        <tr>
            <td>邮编:</td>
            <td></td>
            <td>家长信息:</td>
            <td></td>
        </tr>
        <tr>
            <td>入学日期:</td>
            <td>20140831</td>
            <td>系所:</td>
            <td>信息科学与技术学院计算机科学与技术系</td>
        </tr>
        <tr>
            <td>专业:</td>
            <td>计算机科学与技术</td>
            <td>专业方向:</td>
            <td></td>
        </tr>
        <tr>
            <td>年级:</td>
            <td>2015级</td>
            <td>班级:</td>
            <td>信院15-1Y</td>
        </tr>
        <tr>
            <td>是否有学籍:</td>
            <td>是</td>
            <td>是否有国家学籍:</td>
            <td>是</td>
        </tr>
        <tr>
            <td>校区:</td>
            <td>滨海校区</td>
            <td>异动否:</td>
            <td>是</td>
        </tr>
        <tr>
            <td>外语语种:</td>
            <td>英语</td>
            <td>宿舍地址:</td>
            <td></td>
        </tr>
        <tr>
            <td>因材施教:</td>
            <td></td>
            <td>培养层次:</td>
            <td>本科生</td>
        </tr>
        <tr>
            <td>培养方式:</td>
            <td></td>
            <td>分流方向:</td>
            <td></td>
        </tr>
        <tr>
            <td>是否离校:</td>
            <td></td>
            <td>备注:</td>
            <td></td>
        </tr>
        <tr>
            <td>备注1:</td>
            <td></td>
            <td>备注2:</td>
            <td></td>
        </tr>
        <tr>
            <td>备注3:</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
{% elif session.user.role == 'teacher' %}
<table class="table table-striped profile">
    <tbody>
        <tr>
            <td>教师号:</td>
            <td>038017</td>
            <td>系所:</td>
            <td>马克思主义学院（思想政治理论课教学科研部）</td>
        </tr>
        <tr>
            <td>姓名:</td>
            <td>邹升平</td>
            <td>性别:</td>
            <td>男</td>
        </tr>
        <tr>
            <td>职称:</td>
            <td>副教授</td>
            <td>在职状态码:</td>
            <td>在职</td>
        </tr>
        <tr>
            <td>专业方向:</td>
            <td></td>
            <td>校区:</td>
            <td>松山校区</td>
        </tr>
        <tr>
            <td>教研室号:</td>
            <td></td>
            <td>出生日期:</td>
            <td>19731010</td>
        </tr>
        <tr>
            <td>身份证号:</td>
            <td>432501197310100179</td>
            <td>民族代码:</td>
            <td></td>
        </tr>
        <tr>
            <td>政治面貌代码:</td>
            <td></td>
            <td>员工系列码:</td>
            <td></td>
        </tr>
        <tr>
            <td>职务码:</td>
            <td></td>
            <td>任职日期:</td>
            <td></td>
        </tr>
        <tr>
            <td>聘任日期:</td>
            <td></td>
            <td>参加工作日期:</td>
            <td></td>
        </tr>
        <tr>
            <td>来校工作日期:</td>
            <td>20040401</td>
            <td>高校教龄:</td>
            <td></td>
        </tr>
        <tr>
            <td>专任教师:</td>
            <td></td>
            <td>学历:</td>
            <td></td>
        </tr>
        <tr>
            <td>学位:</td>
            <td></td>
            <td>毕业学校:</td>
            <td></td>
        </tr>
        <tr>
            <td>毕业日期:</td>
            <td></td>
            <td>所学专业:</td>
            <td></td>
        </tr>
        <tr>
            <td>从事专业:</td>
            <td></td>
            <td>行政职务:</td>
            <td></td>
        </tr>
        <tr>
            <td>是否双肩挑:</td>
            <td></td>
            <td>导师类型:</td>
            <td></td>
        </tr>
        <tr>
            <td>所属学科:</td>
            <td></td>
            <td>学科类型:</td>
            <td></td>
        </tr>
        <tr>
            <td>课程类别:</td>
            <td></td>
            <td>学缘结构:</td>
            <td></td>
        </tr>
        <tr>
            <td>岗前培训:</td>
            <td></td>
            <td>个人简历:</td>
            <td></td>
        </tr>
        <tr>
            <td>主讲课程:</td>
            <td></td>
            <td>获奖情况:</td>
            <td></td>
        </tr>
        <tr>
            <td>配偶工作单位:</td>
            <td></td>
            <td>兼任职务:</td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endif %}

{%- endblock -%}