{%- extends 'personal/personal.html' -%}
{%- block content -%}

<table class="table table-striped">
    <thead style="font-size: 0.9em">
        <tr>
            <th class="sortable" height="20">学号</th>
            <th class="sortable" height="20">异动日期</th>
            <th class="sortable" height="20">异动文号</th>
            <th class="sortable" height="20">异动类别</th>
            <th class="sortable" height="20">异动原因描述</th>
            <th class="sortable" height="20">复学日期</th>
            <th class="sortable" height="20">原系所</th>
            <th class="sortable" height="20">原专业方向</th>
            <th class="sortable" height="20">原班级</th>
            <th class="sortable" height="20">原专业</th>
            <th class="sortable" height="20">原方案计划</th>
        </tr>
    </thead>
    <tbody style="font-size:0.9em">
        <tr class="even" onmouseout="this.className='even';" onmouseover="this.className='evenfocus';">
            <td height="20">
                14041530
            </td>
            <td height="20">
                20160406
            </td>
            <td height="20">
                转专业审批表
            </td>
            <td height="20">
                转专业出
            </td>
            <td height="20">
                &nbsp;
            </td>
            <td height="20">
                &nbsp;
            </td>
            <td height="20">
                食品科学与工程学院食品检测与工程系
            </td>
            <td height="20">
                &nbsp;
            </td>
            <td height="20">
                化院14-18Y
            </td>
            <td height="20">
                食品质量与安全（一本）
            </td>
            <td height="20">
                食品质量与安全(一本)(研究型)专业指导性培养方案
            </td>
        </tr>
    </tbody>
</table>

{%- endblock -%}