{%- extends 'personal/personal.html' -%}
{%- block content -%}

<table class="table table-striped">
    <thead>
        <tr>
            <th class="sortable" height="20">学号</th>
            <th class="sortable" height="20">奖惩日期</th>
            <th class="sortable" height="20">奖惩类别</th>
            <th class="sortable" height="20">奖惩原因</th>
            <th class="sortable" height="20">奖或惩</th>
            <th class="sortable" height="20">备注</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

{%- endblock -%}