{%- extends 'index.html' -%}
{%- block body -%}

<ol class="breadcrumb">
    <li><a href="#">计算机科学与技术(研究型）专业指导性培养方案(主修)</a></li>
    <li><a href="#">方案课程</a></li>
    <li><a href="{{ url_for('select_course_id', course_id=courses[0].id) }}">{{ courses[0].name }} ({{ courses[0].id }})</a></li>
    <li><a href="#">Select S/N</a></li>
</ol>

<div class="page-header">
    <h3>{{ courses[0].name }}({{ courses[0].id }})</h3>
</div>

<table class="table table-hover courses">
    <thead>
        <tr>
            <th width="120">S/N</th>
            <th width="120">Teacher</th>
            <th width="80">Rest/Capacity</th>
            <th>Timetable</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for course in courses %}
        <tr>
            <th>{{ course.sn }}</th>
            <th>{{ course.teacher_name }}</a></th>
            <th>{{ course.rest }}/{{ course.capacity }}</th>
            <th>{{ course.timetable }}</th>
            <th>
                <form action="{{ url_for('apply_for_courses') }}" method="post">
                    <input type="hidden" name="cid" value="{{ courses[0].id }}">
                    <input type="hidden" name="csn" value="{{ course.sn }}">
                    <input type="hidden" name="cname" value="{{ courses[0].name }}">
                    <input type="hidden" name="teacher_id" value="{{ course.teacher_id }}">
                    <input type="hidden" name="teacher_name" value="{{ course.teacher_name }}">
                    <input type="hidden" name="timetable" value="{{ course.timetable }}">
                    <input type="submit" class="btn btn-sm btn-primary" value="Apply">
                </form>
            </th>
        </tr>
    {% endfor %}
    </tbody>
</table>

{%- endblock -%}