{%- extends 'index.html' -%}
{%- block body -%}

<ol class="breadcrumb">
    <li><a href="#">计算机科学与技术(研究型）专业指导性培养方案(主修)</a></li>
    <li><a href="#">方案课程</a></li>
    <li><a href="#">开课信息</a></li>
</ol>

<table class="table table-hover courses">
    <thead>
        <tr>
            <th width="120">课程号</th>
            <th>课程名</th>
            <th width="80">学分</th>
            <th width="80">收费标准</th>
            <th width="80">课程属性</th>
            <th width="80">考试类型</th>
        </tr>
    </thead>
    <tbody>
    {% for course in courses %}
        <tr>
            <th>{{ course.id }}</th>
            <th><a href="{{ url_for('select_course_sn', course_id=course.id) }}">{{ course.name }}</a></th>
            <th>{{ course.credit }}</th>
            <th>${{ course.fee }}</th>
            <th>{{ course.prop.capitalize() }}</th>
            <th>{{ course.exam_method.capitalize() }}</th>
        </tr>
    {% endfor %}
    </tbody>
</table>

{%- endblock -%}