<head>
    <title>{%- if meta_title -%}{{ meta_title }}{%- else -%}EAS{%- endif -%}</title>
    <meta name="description" content="{{ meta_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='script/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css' )}}">
</head>