{%- extends 'courses/courses.html' -%}

{% block head %}
{{ super() }}
<link href='{{ url_for("static", filename="css/fullcalendar.css") }}' rel='stylesheet' />
<link href='{{ url_for("static", filename="css/fullcalendar.print.css") }}' rel='stylesheet' media='print' />
<script src='{{ url_for("static", filename="script/moment.min.js") }}'></script>
<script src='{{ url_for("static", filename="script/fullcalendar.min.js") }}'></script>

<script>

	$(document).ready(function() {
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay,listWeek'
			},
			// defaultDate: '2016-10-21',
			navLinks: true, // can click day/week names to navigate views

			weekNumbers: true,
			weekNumbersWithinDays: true,
			weekNumberCalculation: 'ISO',

			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: [
			{% for item in timetables %}
				{
					title: '{{ item.name }} {{ item.location }}',
					start: '{{ item.start }}',
					end: '{{ item.end }}'
				},
			{% endfor %}
			]
		});
		
	});

</script>
{% endblock %}

{%- block content -%}

<br>
<div class="row">
	<div class="col-md-8">
		<div id="calendar"></div>
	</div>
	<div class="col-md-4">
		<div class="page-header">
			<h3>Courses List</h3>
		</div>
		<div class="list-group">
			<a class="list-group-item">Test</a>
		</div>
	</div>
</div>

{%- endblock -%}